@import url(./css/form.css);
@import url(./css/card.css);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #0bceaf;
  --color-secundary: #0e0e0e;
  --color-tertiary: #0bceaf;
  --grey: #101828;
  --blue: #002f52;
  --strong-green: #09b89b;
  --white: #fdfdfd;
  --presentation: #ffffff;
}
